// Sacramento
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

// Mega Trans
@font-face {
    font-family: 'MegaTrans';
    font-style: normal;
    src: url('../src/assets/fonts/Mega-trans.otf') format('opentype');
}
